<html>
<body>

<div>
    <!-- Return a form which allows the uploading of a zip file and a text field for a comma-separated list of
    routes to import and an upload button -->
    <form method="POST" enctype="multipart/form-data" action="/trams-operations/uploadGTFSFile">
        <table>
            <tr><td>File to upload:</td><td><input type="file" name="zipFile" /></td></tr>
            <tr><td>Routes to Import (optional):</td><td><input type="text" name="routesToImport"/></td></tr>
            <tr><td></td><td><input type="submit" value="Upload" /></td></tr>
        </table>
    </form>
</div>

</body>
</html>